@page "/about-and-values"
<PageTitle>about & values</PageTitle>

<div class="container-fluid">
    <div class="about-container">

        <div>
            <img src="/images-event/bild-header.jpg" />
            <div class="row justify-content-center about-header">
                <a>about & values</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 about-content">
                <h3 class="about-heading mt-5">What we do</h3>
                @*   <h6 style="margin-top:2rem; color:black;">We are a event planning company based in Skåne, Sweden founded in 2023.</h6>
                <h6>We help people create memories by creating the event by their dreams and desires.</h6>
                <h6>We believe that people and life events should be celebrated constantly, and effortlessly.</h6>*@
                <h6>
                    At Fannie events, we are passionate about creating unforgettable events that leave a
                    lasting impression.
                </h6>
                <h6>
                    As a premier event planning company, we specialize in crafting unique
                    and exceptional experiences that surpass our clients' expectations.
                </h6>
                <h6>
                    With our meticulous
                    attention to detail, creative flair, and dedication to excellence, we bring your vision
                    to life, turning every event into a remarkable celebration.
                </h6>
                <h6>
                    At [Your Company Name], we don't just plan events; we curate extraordinary experiences
                    that captivate, inspire, and delight. Whether you're organizing a grand wedding,
                    a corporate gala, or an intimate social gathering, trust us to bring your vision
                    to life and create memories that will be cherished for a lifetime.
                </h6>
                <h6>
                    Contact us today to discuss your event ideas and let us embark on a remarkable journey together!
                </h6>
            </div>
        </div>

        <div class="mt-5 mb-5">
            <img src="/images-event/pexels-askar-abayev-5638329.jpg" />
        </div>

        <div class="row justify-content-center">
            <div class="col-4 about-content">
                <h3 class="about-heading mt-3">We value</h3>
                <h6 style="margin-top:2rem;">
                    Creativity: We believe in the power of imagination and strive
                    to infuse creativity into every aspect of our event planning. From
                    innovative themes and awe-inspiring decor to unique entertainment
                    options, we go above and beyond to design experiences that are both extraordinary and memorable.
                </h6>
                <h6>
                    Collaboration: We understand the importance of collaboration and work closely
                    with our clients to ensure that their vision is translated seamlessly into reality.
                    We value open communication, actively listen to your ideas, and provide expert guidance
                    throughout the planning process. Your input is invaluable to us, and together, we create
                    an event that truly reflects your personal style and preferences.
                </h6>
                <h6>
                    Attention to Detail: We are obsessed with the details!
                    Our team meticulously plans and orchestrates every element
                    of your event, leaving no stone unturned. From the initial concept
                    development to the final execution, we meticulously handle logistics,
                    timing, and coordination to ensure a flawless experience for you and your guests.
                </h6>


            </div>
        </div>

        <div class="mt-5">
            <img src="/images-event/bild-about-us.jpg" />
        </div>
        <div class="row justify-content-center">
            <div class="col-4 about-content">
                <h3 class="about-heading mt-5">How we work</h3>
                <h6 style="margin-top:2rem;">
                    Fannie Event are proud to say that we have the ability to transform any space
                    into an environment where you feel welcomed and celebrated.
                </h6>
                <h6 style="margin-top:2rem;">
                    When we get the key details from you, we begin to prepare a uniquely curated event that is as
                    special as the people we serve.
                </h6>
                <h6 style="margin-top:2rem;margin-bottom:5rem;">
                    We and our partners handles every thing about the event, that gives you an opportunity
                    to enjoy the moment, whithout lifting a finger.
                </h6>
            </div>
        </div>
    </div>
</div>





@code {

}
