@page "/about-and-values"
<PageTitle>about & values</PageTitle>

<div class="about-container">
    <div>
        <img src="/images-event/bild-header.jpg" />
        <div class="row justify-content-center about-header">
            <a>about & values</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 about-content">
            <h3 class="about-heading mt-5">What we do</h3>
            <h6 style="margin-top:2rem; color:black;">We are a event planning company based in Skåne, Sweden founded in 2023.</h6>
            <h6>We help people create memories by creating the event by their dreams and desires.</h6>
            <h6>We believe that people and life events should be celebrated constantly, and effortlessly.</h6>
        </div>
    </div>

    <div class="mt-5 mb-5">
        <img src="/images-event/pexels-askar-abayev-5638329.jpg" />
    </div>

    <div class="row justify-content-center">
        <div class="col-4 about-content">
            <h3 class="about-heading mt-3">We value</h3>
            <h6 style="margin-top:2rem;">We are passionate about turning ideas and sparks into a beautiful and unique reality.</h6>
            <h6 style="margin-top:2rem;">Using high quality items that are uniquely selected for each event.</h6>
        </div>
    </div>

    <div class="mt-5">
        <img src="/images-event/bild-about-us.jpg" />
    </div>
    <div class="row justify-content-center">
        <div class="col-4 about-content">
            <h3 class="about-heading mt-5">How we work</h3>
            <h6 style="margin-top:2rem;">Fannie Event are proud to say that we have the ability to transform any space
                into an environment where you feel welcomed and celebrated.</h6>
            <h6 style="margin-top:2rem;">
                When we get the key details from you, we begin to prepare a uniquely curated event that is as
                special as the people we serve.
            </h6>
            <h6 style="margin-top:2rem;margin-bottom:5rem;">
                We and our partners handles every thing about the event, that gives you an opportunity
                to enjoy the moment, whithout lifting a finger.
            </h6>
        </div>
    </div>
</div>





@code {

}
