@page "/booking-request"

<div id="magazine-section">
    <img src="/images-event/booking-header2.jpg" />
</div>

<div class="row">
    <div class="col">

    </div>
    <div class="col">

    </div>

</div>

























@code {

}
