@page "/gallery"

<PageTitle>gallery</PageTitle>

<div class="gallery-container">
    <div class="row">
        <h3 class="about-heading mt-5 mb-4">Children's Birthday Party</h3>
        <div class="wrapper">
            <i class="left-arrow fa-solid fa-angle-left"></i>
            <div class="carousel">
                <img src="/Birthday/kalas1.jpg" />
                <img src="/Birthday/kalas2.jpg" />
                <img src="/Birthday/kalas3.jpg" />
                <img src="/Birthday/kalas4.jpg" />
                <img src="/Birthday/kalas5.jpg" />
                <img src="/Birthday/kalas6.jpg" />
                <img src="/Birthday/kalas7.jpg" />
                <img src="/Birthday/kalas8.jpg" />
            </div>
            <i class="right-arrow fa-solid fa-angle-right"></i>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <h3 class="about-heading mt-5 mb-4">Private Dinner Party</h3>
        <div class="wrapper">
            <i class="left-arrow fa-solid fa-angle-left"></i>
            <div class="carousel">
                <img src="/Dinner1/Picknik1.jpg" />
                <img src="/Dinner1/Picknik2.jpg" />
                <img src="/Dinner1/Picknik3.jpg" />
                <img src="/Dinner1/Picknik4.jpg" />
                <img src="/Dinner1/Picknik5.jpg" />
                <img src="/Dinner1/Picknik6.jpg" />
                <img src="/Dinner1/Picknik7.jpg" />
                <img src="/Dinner1/Picknik8.jpg" />
            </div>
            <i class="right-arrow fa-solid fa-angle-right"></i>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <h3 class="about-heading mt-5 mb-4">Wedding</h3>
        <div class="wrapper">
            <i class="left-arrow fa-solid fa-angle-left"></i>
            <div class="carousel">
                <img src="/Wedding/wedding1.jpg" />
                <img src="/Wedding/wedding2.jpg" />
                <img src="/Wedding/wedding3.jpg" />
                <img src="/Wedding/wedding4.jpg" />
            </div>
            <i class="right-arrow fa-solid fa-angle-right"></i>
        </div>
    </div>
    <div class="row mt-5">
        <h3 class="about-heading mt-5 mb-4">Proposal Dinner Party</h3>
        <div class="wrapper">
            <i class="left-arrow fa-solid fa-angle-left"></i>
            <div class="carousel">
                <img src="/Dinner2/middag1.jpg" />
                <img src="/Dinner2/middag2.jpg" />
                <img src="/Dinner2/middag3.jpg" />
                <img src="/Dinner2/middag4.jpg" />
            </div>
            <i class="right-arrow fa-solid fa-angle-right"></i>
        </div>
    </div>
    <div class="row mt-5">
    </div>
</div>


@code {

    [Inject]
    IJSRuntime JSRuntime { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("slideshow.init");
        }
    }
}
