@page "/"
<PageTitle>Fannie Events</PageTitle>

<div class="home-container">
    <div id="header-image">
        <div class="col-md-12">
            <img src="/images-event/header44.jpg" />
            <div class="heading">
                <div class="row">
                    <div class="col-12">
                        <div class="heading-text">
                            <a>Where dreams become</a>
                            <a>unforgettable</a>
                            <a style="font-style:italic;">memories</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="about-us-section">
        <div class="mt-4">
            <img src="/images-event/header1.jpg" />
        </div>
    </div>
       <div class="row mt-5">
    </div>
</div>
