@page "/"
<PageTitle>Fannie Designs</PageTitle>


<div id="header-image">
    <img src="/images-event/home-page-header.jpg"/>
    <div class="heading">
        <div class="heading-text">
        <a>Design that makes</a>
        <a>you feel </a>
        <a style="font-style:italic;">at home.</a>
        </div>
    </div>
</div>
<div id="about-us-section" style="margin-top:4rem;">
    <img src="/images-event/bild-header.jpg"/>
    <div class="heading-about">
        <a style="font-family:Source Serif Pro; font-size:60px; font-weight:300; color:#F3EFE8;">we can't wait to meet you</a>
    </div>
</div>

