@page "/"
<PageTitle>Fannie Skincare</PageTitle>


<div id="header-image">
    <img src="/Images/davies-designs-studio-G-6kwVnClsE-unsplash.jpg" />
    <div class="heading">
        <h1>Clean, Effective Skincare</h1>
        <h1>For The Face & Body</h1>

        <div class="row mt-5 justify-content-center">
            <a class="frontpage-button">
                SHOP THE COLLECTION
            </a>
        </div>
    </div>
</div>
<div id="about-us-section" style="margin-top:4rem;">
    <img src="/Images/glenna-haug-DuNXXPScbJM-unsplash.jpg" />
    <div class="heading">
        <h1>Our Clean Commitment &</h1>
        <h1>Sustainable Practices</h1>

        <div class="row mt-5 justify-content-center">
            <a class="frontpage-button">
                LEARN ABOUT US
            </a>
        </div>
    </div>
</div>
<div id="magazine-section" style="margin-top:4rem;">
    <img src="/Images/yu-siang-teo-EBoY43hgTo4-unsplash2.jpg" height="600" width="2000" />
    <div class="heading">
        <h1>The Magazine</h1>
        <div class="row mt-5 justify-content-center">
            <a class="frontpage-button">
                READ NOW
            </a>
        </div>
    </div>
</div>
<div class="footer-section">
    <div class="row">
        <div class="col ms-5 mt-3">
            <h4>Community</h4>
            <div class="row">
                <div class="col-6">
                <input type="email" placeholder="Your email" style="font-family:Roboto; font-size:0.8rem; color:lightgray;" />
                </div>
                <div class="col-6">
                    <button class="submit-button" type="submit">Submit</button>
                </div>
            </div>
            <i class="fa-brands fa-instagram me-3 mt-4"></i>
            <i class="fa-brands fa-facebook-f me-3"></i>
            <i class="fa-brands fa-twitter me-3"></i>
        </div>
        <div class="col mt-3">
            <h4>Shop</h4>
            <h6>Body</h6>
            <h6>Face</h6>
            <h6>Shop All</h6>
        </div>
        <div class="col mt-3">
            <h4>Help</h4>
            <h6>team@fannieskincare.com</h6>
            <h6>FAQ</h6>
            <h6>Contact</h6>
        </div>
        <div class="col mt-3">
            <h4>About</h4>
            <h6>Product Philosophy</h6>
            <h6>Sustainability</h6>
        </div>
        <div class="col mt-3">
            <h4>Account</h4>
            <h6>My Account</h6>
            <h6>Sign In</h6>

        </div>
    </div>
    <div class="row">
        <p class="ms-5 footer-text">2023 Fannie Skincare All Rights Reserved.</p>
    </div>
</div>

