@*<div id="about-us-section">
    <img src="/Images/glenna-haug-DuNXXPScbJM-unsplash.jpg" />
    <div class="heading">
        <h1>Our Clean Commitment &</h1>
        <h1>Sustainable Practices</h1>

        <div class="row mt-5 justify-content-center">
            <a class="shop-button">
                LEARN ABOUT US
            </a>
        </div>
    </div>
</div>*@

@code {

}
