<AuthorizeView>
    <Authorized>
        <a class="link-nav" href="Identity/Account/Logout">sign out</a>
    </Authorized>
    <NotAuthorized>
            <a class="link-nav mb-5" href="Identity/Account/Login">sign in</a>
    </NotAuthorized>
</AuthorizeView>