@inherits LayoutComponentBase

<PageTitle>Fannie Skincare</PageTitle>

        <NavMenu />
    <main>
        <article class="content px-4">
            @Body
        </article>
        <div id="header-image">
            <img src="/Images/davies-designs-studio-G-6kwVnClsE-unsplash.jpg" />
            <div class="heading">
                <h1>Clean, Effective Skincare</h1>
                <h1>For The Face & Body</h1>

                <div class="row mt-5 justify-content-center">
                    <a class="shop-button">
                        SHOP THE COLLECTION
                    </a>
                </div>
            </div>
        </div>
  
        <div id="about-us-section" style="margin-top:4rem;">
            <img src="/Images/glenna-haug-DuNXXPScbJM-unsplash.jpg" />
            <div class="heading">
                <h1>Our Clean Commitment &</h1>
                <h1>Sustainable Practices</h1>

                <div class="row mt-5 justify-content-center">
                    <a class="shop-button">
                        LEARN ABOUT US
                    </a>
                </div>
            </div>
        </div>

    
    </main>
