@using Webshop.Pages
@inherits LayoutComponentBase

<PageTitle>Fannie Skincare</PageTitle>
<header>
    <NavMenu />
</header>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
