@using Webshop.Pages
@inherits LayoutComponentBase

<PageTitle>Fannie Designs</PageTitle>
<header>
    <NavMenu />
</header>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
    <footer>
    <div class="footer-section">
        <div class="row" style="margin:auto;">
            <div class="col ms-5 mt-5">
                <h4>Community</h4>
                <div class="row">
                    <div class="col-6">
                        <input type="email" placeholder="Your email" style="font-family:Roboto; font-size:0.8rem; color:lightgray; border:none;" />
                    </div>
                    <div class="col-6">
                        <button class="submit-button" type="submit">Submit</button>
                    </div>
                </div>
                <i class="fa-brands fa-instagram me-3 mt-4"></i>
                <i class="fa-brands fa-facebook-f me-3"></i>
                <i class="fa-brands fa-twitter me-3"></i>
            </div>
            <div class="col mt-5">
                <h4>Shop</h4>
                <h6>Body</h6>
                <h6>Face</h6>
                <h6>Shop All</h6>
            </div>
            <div class="col mt-5">
                <h4>Help</h4>
                <h6>team@fannieevents.com</h6>
                <h6>FAQ</h6>
                <h6>Contact</h6>
            </div>
            <div class="col mt-5">
                <h4>About</h4>
                <h6>Product Philosophy</h6>
                <h6>Sustainability</h6>
            </div>
            <div class="col mt-5">
                <h4>Account</h4>
                <h6>My Account</h6>
                <h6>Sign In</h6>

            </div>
        </div>
        <div class="row" style="margin:auto;">
            <div class="col ms-5">
                <p class="footer-text">2023 Fannie Events All Rights Reserved.</p>
            </div>
        </div>
    </div>

    </footer>
