@using Webshop.Pages

<header class="header">
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images-event/Fannie_Logotyp.png" width="260" style="margin-top: 5px; margin-left:10px;" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="header-nav-menu-item me-5">
                    <NavLink class="link-nav" href="/" Match="NavLinkMatch.All">
                        home
                        <hr />
                    </NavLink>
                </li>
                <li class="header-nav-menu-item me-5">
                    <NavLink class="link-nav" href="/booking-request" Match="NavLinkMatch.All">
                        booking request
                        <hr />
                    </NavLink>
                </li>
                <li class="header-nav-menu-item me-5">
                    <NavLink class="link-nav" href="/about-and-values" Match="NavLinkMatch.All">
                        about & values
                        <hr />
                    </NavLink>
                </li>
                <li class="header-nav-menu-item me-5">
                    <NavLink class="link-nav" href="/gallery" Match="NavLinkMatch.All">
                        gallery
                        <hr />
                    </NavLink>
                </li>
                <li class="header-nav-menu-item me-5">
                    <AuthorizeView>
                        <Authorized>
                            <NavLink href="Identity/Account/Logout" class="link-nav">sign out</NavLink>
                        </Authorized>
                        <NotAuthorized>
                            <NavLink href="Identity/Account/Login" class="link-nav">sign in</NavLink>
                        </NotAuthorized>
                    </AuthorizeView>
                </li>
            </ul>
        </div>
    </div>
</nav>
</header>

