@using Webshop.Pages
@*<header class="header">
    <div class="header-container">
        <div class="header-nav-left">
            <ul class="header-nav-menu">
                <li class="header-nav-menu-item ms-3">
                    <NavLink class="link-nav" href="/" Match="NavLinkMatch.All">
                        home
                        <hr />
                    </NavLink>
                </li>
                <li class="header-nav-menu-item ms-5">
                    <NavLink class="link-nav" href="/booking-request" Match="NavLinkMatch.All">
                        booking request
                        <hr />
                    </NavLink>
                </li>
                <li class="header-nav-menu-item ms-5">
                    <NavLink class="link-nav" href="/about-and-values" Match="NavLinkMatch.All">
                        about & values
                        <hr />
                    </NavLink>
                </li>
            </ul>
        </div>
        <div class="header-nav-center">
            <NavLink href="/">
                <img src="/images-event/Fannie_Logotyp.png" width="300" style="margin-top: 4px;"/>
            </NavLink>
        </div>
        <div class="header-nav-right">
            <ul class="header-nav-menu">
                <li class="header-nav-menu-item me-5">
                    <NavLink class="link-nav" href="/gallery" Match="NavLinkMatch.All">
                        gallery
                        <hr />
                    </NavLink>
                </li>
                <li class="header-nav-menu-item me-5">
                    <NavLink class="link-nav" href="/admin-page" Match="NavLinkMatch.All">
                        admin
                        <hr />
                    </NavLink>
                </li>
                <li class="header-nav-menu-item mb-1">
                       <LoginDisplay />
                </li>
            </ul>
        </div>
    </div>
</header>*@


<header class="header">
    <div class="header-container">
        <NavLink href="/">
            <img src="/images-event/Fannie_Logotyp.png" width="260" style="margin-top: 10px; margin-left:10px;" />
        </NavLink>
        <div class="header-nav-left ms-5">
            <ul class="header-nav-menu">
                <li class="header-nav-menu-item me-5">
                    <NavLink class="link-nav" href="/" Match="NavLinkMatch.All">
                        home
                        <hr />
                    </NavLink>
                </li>
                <li class="header-nav-menu-item me-5">
                    <NavLink class="link-nav" href="/booking-request" Match="NavLinkMatch.All">
                        booking request
                        <hr />
                    </NavLink>
                </li>
                <li class="header-nav-menu-item me-5">
                    <NavLink class="link-nav" href="/about-and-values" Match="NavLinkMatch.All">
                        about & values
                        <hr />
                    </NavLink>
                </li>
                <li class="header-nav-menu-item me-5">
                    <NavLink class="link-nav" href="/gallery" Match="NavLinkMatch.All">
                        gallery
                        <hr />
                    </NavLink>
                </li>
                <li class="header-nav-menu-item me-5">
                    <NavLink class="link-nav" href="/admin-page" Match="NavLinkMatch.All">
                        admin
                        <hr />
                    </NavLink>
                </li>
                <li class="header-nav-menu-item mb-3 me-5">
                    <LoginDisplay />
                </li>
            </ul>
        </div>
    </div>
</header>

<Login />

